In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import ast

In [8]:
with open("imagenetData/imagenet1000_clsidx_to_labels.txt","r") as f:
    imagenet_classes = ast.literal_eval(f.read())

In [9]:
#food names from nltk

In [10]:
from nltk.corpus import wordnet as wn
food = wn.synset("food.n.02")
food_list = list(set([w for s in food.closure(lambda s:s.hyponyms()) for w in s.lemma_names()]))

/Users/felipepesantez/miniforge3/lib/python3.9/site-packages/nltk/corpus/reader/wordnet.py:579: UserWarning: Discarded redundant search for Synset('lunch_meat.n.01') at depth 3
  for synset in acyclic_breadth_first(self, rel, depth):
/Users/felipepesantez/miniforge3/lib/python3.9/site-packages/nltk/corpus/reader/wordnet.py:579: UserWarning: Discarded redundant search for Synset('headcheese.n.01') at depth 3
  for synset in acyclic_breadth_first(self, rel, depth):
/Users/felipepesantez/miniforge3/lib/python3.9/site-packages/nltk/corpus/reader/wordnet.py:579: UserWarning: Discarded redundant search for Synset('haslet.n.01') at depth 3
  for synset in acyclic_breadth_first(self, rel, depth):
/Users/felipepesantez/miniforge3/lib/python3.9/site-packages/nltk/corpus/reader/wordnet.py:579: UserWarning: Discarded redundant search for Synset('leg_of_lamb.n.01') at depth 5
  for synset in acyclic_breadth_first(self, rel, depth):
/Users/felipepesantez/miniforge3/lib/python3.9/site-packages/nltk/corpus/reader/wordnet.py:579: UserWarning: Discarded redundant search for Synset('rack_of_lamb.n.01') at depth 5
  for synset in acyclic_breadth_first(self, rel, depth):

In [11]:
len(food_list)

1621

In [12]:
#Filter food items out of ImageNet list
import string

food_list = [food_item.lower().split("_") for food_item in food_list]
food_list[:10]

[['jerky'],
 ['coffee', 'roll'],
 ['yellowtail', 'flounder'],
 ['vol-au-vent'],
 ['muscatel'],
 ['brain'],
 ['nut', 'bread'],
 ['mexican', 'husk', 'tomato'],
 ['beigel'],
 ['rump']]

In [13]:
flat_food_list = [food for food_sub_list in food_list for food in food_sub_list]
flat_food_list[:10]

['jerky',
 'coffee',
 'roll',
 'yellowtail',
 'flounder',
 'vol-au-vent',
 'muscatel',
 'brain',
 'nut',
 'bread']

In [14]:
intersect_str = set(["string_1", "string_2"]).intersection(set(["string_1"]))
intersect_str

{'string_1'}

In [15]:
# Check ImageNet classes for foods
imagenet_food_classes = {}
# Look at imagenet classes
for k, v in imagenet_classes.items():
    # Get value from imagenet classes (string)
    # print(v.lower().split(","))
    imagenet_class_set = set([space_word.strip(" ") for space_word in v.lower().split(",")])
    # print([imagenet_class_set]) 
    # See if value appears in flat_food_list 
    if imagenet_class_set.intersection(flat_food_list):
        imagenet_food_classes[k] = v
        # print(k, v)
imagenet_food_classes

{8: 'hen',
 82: 'ruffed grouse, partridge, Bonasa umbellus',
 85: 'quail',
 86: 'partridge',
 99: 'goose',
 113: 'snail',
 123: 'spiny lobster, langouste, rock lobster, crawfish, crayfish, sea crawfish',
 124: 'crayfish, crawfish, crawdad, crawdaddy',
 331: 'hare',
 339: 'sorrel',
 341: 'hog, pig, grunter, squealer, Sus scrofa',
 390: 'eel',
 391: 'coho, cohoe, coho salmon, blue jack, silver salmon, Oncorhynchus kisutch',
 397: 'puffer, pufferfish, blowfish, globefish',
 457: 'bow tie, bow-tie, bowtie',
 494: 'chime, bell, gong',
 567: 'frying pan, frypan, skillet',
 599: 'honeycomb',
 600: 'hook, claw',
 626: 'lighter, light, igniter, ignitor',
 723: 'pinwheel',
 738: 'pot, flowerpot',
 750: 'quilt, comforter, comfort, puff',
 760: 'refrigerator, icebox',
 923: 'plate',
 931: 'bagel, beigel',
 932: 'pretzel',
 934: 'hotdog, hot dog, red hot',
 937: 'broccoli',
 938: 'cauliflower',
 939: 'zucchini, courgette',
 943: 'cucumber, cuke',
 944: 'artichoke, globe artichoke',
 946: 'cardoon',
 947: 'mushroom',
 949: 'strawberry',
 950: 'orange',
 951: 'lemon',
 952: 'fig',
 953: 'pineapple, ananas',
 954: 'banana',
 955: 'jackfruit, jak, jack',
 957: 'pomegranate',
 962: 'meat loaf, meatloaf',
 968: 'cup',
 972: 'cliff, drop, drop-off',
 976: 'promontory, headland, head, foreland',
 987: 'corn',
 988: 'acorn'}

In [16]:
len(imagenet_food_classes)

49

In [26]:
df = pd.read_csv("https://raw.githubusercontent.com/mf1024/ImageNet-Datasets-Downloader/master/classes_in_imagenet.csv", error_bad_lines=False)
df["class_name"]  = df["class_name"].str.lower()
df.head()

       synid   class_name  urls  flickr_urls
0  n00004475     organism     8            6
1  n00005787      benthos  1264          626
2  n00006024  heterotroph     1            0
3  n00006484         cell  1251          628
4  n00007846       person  1242         1138

In [29]:
df.dropna(inplace=True)

In [33]:
#filter dataframe from food classes
df_non_food = df[~df["class_name"].isin(flat_food_list)]
df_non_food

           synid   class_name  urls  flickr_urls
0      n00004475     organism     8            6
1      n00005787      benthos  1264          626
2      n00006024  heterotroph     1            0
3      n00006484         cell  1251          628
4      n00007846       person  1242         1138
...          ...          ...   ...          ...
21836  n15093137    vitamin p  1233           27
21837  n15093298    vitamin c  1268          824
21838  n15102359     planking     1            1
21839  n15102455    chipboard  1316          474
21840  n15102894     knothole   928          680

[20898 rows x 4 columns]